backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/*.log

database/*.db
database/*.sqlite
database/*.sqlite3

logs/

frontend/node_modules/
frontend/dist/
frontend/.env

.env
.venv
.venv/
.cursorignore
.vscode/
__pycache__
_pycache_/
